player-connection-mode=Listen
player-connection-guid=1768240359
player-connection-debug=1
player-connection-project-name=TetrisReg
player-connection-ip=10.133.170.194
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7c2fdd2e24734d7b9215cc38eabad99f
